

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000; 
}

#terminal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%; /* Adjust based on your design */
  height: 70%; /* Adjust based on your design */
  transform: translate(-50%, -50%);
  background-color: #000000;
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/vt323@latest/latin-400-normal.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/vt323@latest/latin-400-normal.woff) format('woff');
}

/* Apply VT323 font to terminal text */
#terminal {
  font-family: 'VT323', monospace;
  font-size: 1em; /* Adjust as necessary */
}
